html{
    background-color:lightgrey;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.material{
    border:10px solid black;
    padding: 10px;
    text-align: center;
    background-color: lightpink;
    margin: 40px;
    
    
}
.nav{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: lightblue;
    text-align: center;

}
.nav a{
    font-size: larger;
    padding: 15px;
    
}
.nav a:visited{
    color:yellow;
}
.nav a:hover{
    background-color: grey;
   
    color: white;
}
.footer{
    background-color: lightblue;
    margin-bottom: auto;
    position:fixed;
    bottom:10px;
    margin: 50px;
    width: 100%;

}