body{
    width: 100%;
    background-color: rgb(3, 3, 33);
    color: white;
    margin-right: 10px;
    margin-left: 20px;
    padding: 20px;
    margin-top: 5px ;
    margin-bottom: 5px ;

}
.i{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:40 px;
    padding: 40px;
}
.para{
    text-align: left;
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.p1{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
}

.p3{
    text-align: center;
}
.info {
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right:50px;
    }
.info a{
    background-color: skyblue;
    color:white;
    text-decoration: none;
    padding: 14px 20px;}
.img1 img{
    width: 40%;
    border-color: rgb(134, 169, 199);
    border-width: 0cqw;
    border-radius: 20px;
    height: 30%;
}
.img{
    width: 100%;
}